@{
    ViewData["Title"] = "Index";

}

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Account Information</span>
                <h2 class="mb-4">Your Profile</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 ftco-animate">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">FristName</th>
                                    <td>@ViewBag.FristName</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">LastName</th>
                                    <td>@ViewBag.LastName</td>
                                    <td><button class="btn btn-secondary">Edit</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">Email</th>
                                    <td>@ViewBag.Email</td>
                                    <td><button class="btn btn-secondary">Edit</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">Address</th>
                                    <td>@ViewBag.Address</td>
                                    <td><button class="btn btn-secondary">Edit</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">Subscription Expiry</th>
                                    <td>@ViewBag.SubscriptionExpiry</td>
                                    <td><button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-secondary">Acount Renewal</button></td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-right"><button class="btn btn-primary"><a asp-controller="User" asp-action="Change" style="color: white;">Change Password</a></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Acount Renewal</h5>
                @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
            </div>
            <div class="modal-body d-flex align-items-center justify-content-around">
                <div>
                    <span>Month:</span>
                    <a asp-controller="VnPay" asp-action="Index" asp-route-Price="@ViewBag.Month" class="btn btn-primary">@ViewBag.Month $</a>
                </div>
                <div>
                    <span>Year:</span>
                    <a asp-controller="VnPay" asp-action="Index" asp-route-Price="@ViewBag.Year" class="btn btn-primary">@ViewBag.Year $</a>
                </div>
            </div>
            <center class="m-3 alert-danger">
                Exchange Rate: 1$ = 23000 VNĐ
            </center>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/client/js/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
}



