@{
    ViewData["Title"] = "Index";

}
@model IEnumerable<DataAccess.Models.Contest>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Competition</span>
                <h2 class="mb-4">Cooking Competitions</h2>
            </div>
        </div>
        @{
            if (@ViewBag.Message != null)
            {
                <center>
                    <div class="alert-success p-5">
                        @ViewBag.Message
                    </div>
                </center>
            }
        }
        <div class="row">
            @{
                foreach (var item in Model)
                {
                    <div class="col-md-6 col-lg-3 ftco-animate mt-2">
                        <div class="staff">
                            <div class="img" style="background-image: url(../client/images/chef-4.jpg);"></div>
                            <div class="text px-4 pt-2">
                                <h3>@item.ContestName</h3>
                                <span class="position mb-2">Hosted by: Chef John Gustavo</span>
                                <div class="faded">
                                    <p>@item.Description</p>
                                    <a href="javascript:void(0)" onclick="joinContest(@item.ContestId)" class="btn btn-primary">Join Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

@section Scripts {
    <script>
        function joinContest(contestId) {
            $.ajax({
                type: 'POST',
                url: '/Contest/ParticipantContest',
                data: { contestId: contestId },
                success: function (response) {
                    if (response.success) {
                        alert('Joined contest successfully!');
                        // Cập nhật giao diện người dùng tại đây nếu cần thiết
                        window.location.href = '';
                    } else {
                        alert('Failed to join contest.');
                    }
                },
                error: function (xhr, status, error) {
                    alert('Error occurred while joining contest.');
                }
            });
        }

    </script>
}
